.page {
  min-height: 100vh;
  padding: 2rem 0 4rem;
  background: url('/images/destination/background-destination-desktop.jpg')
    no-repeat;
  background-size: cover;
}

.title {
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;

  span {
    opacity: 0.6;
    margin-right: 0.5rem;
  }
}

.destination {
  height: 600px;
  position: relative;
}

.tabs {
  margin-top: 2rem;
  max-width: 400px;
  margin-left: auto;
  display: flex;
  gap: 2rem;

  .tab {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 1.25rem 0;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 1.125rem;
    cursor: pointer;
    transition: all 75ms ease-out;
    outline: none;

    &.active {
      opacity: 1;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: white;
      }
    }
  }
}

.tabContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;

  img {
    animation: showPlanet 0.4s ease-out;
  }

  div {
    max-width: 400px;
    animation: showOpacity 0.4s ease-out;

    strong {
      font-size: 6rem;
      font-weight: 400;
      font-family: serif;
      line-height: 10rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1rem;
      line-height: 2rem;
      opacity: 0.6;
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .distance {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      gap: 3rem;

      div {
        display: flex;
        flex-direction: column;

        strong {
          font-family: 'Poppins', sans-serif;
          font-size: 1rem;
          line-height: 1.5rem;
          opacity: 0.6;
        }

        span {
          font-size: 2rem;
          text-transform: uppercase;
          opacity: 0.9;
        }
      }
    }
  }
}

@keyframes showOpacity {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showPlanet {
  from {
    transform: scale(0.2);
    filter: blur(10px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .page {
    padding-top: 0;
    background: url('/images/destination/background-destination-tablet.jpg')
      no-repeat;
    background-size: cover;
  }

  .destination {
    height: auto;
  }

  .tabs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 32rem);
  }

  .tabContent {
    margin-top: 4rem;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .page {
    background: url('/images/destination/background-destination-mobile.jpg')
      no-repeat;
    background-size: cover;
  }

  .title {
    font-size: 1rem;
    text-align: center;
  }

  .tabs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 13rem);

    .tab {
      font-size: 1rem;
    }
  }

  .tabContent {
    margin-top: 2rem;
    gap: 5rem;

    img {
      width: 200px;
    }

    div {
      strong {
        font-size: 4rem;
        line-height: 6rem;
      }

      p {
        font-size: 0.875rem;
      }

      .distance {
        flex-direction: column;
      }
    }
  }
}
