.page {
  min-height: 100vh;
  padding-top: 2rem;
  background: url('/images/destination/background-destination-desktop.jpg')
    no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .page {
    padding-top: 0;
    background: url('/images/destination/background-destination-tablet.jpg')
      no-repeat;
    background-size: cover;
  }
}

@media (max-width: 750px) {
  .page {
    background: url('/images/destination/background-destination-mobile.jpg')
      no-repeat;
    background-size: cover;
  }
}
