.container {
  flex: 1;
  display: flex;
  padding: 0 2rem;
}

.content {
  max-width: 1120px;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}
