.container {
  flex: 1;
  display: flex;
  padding: 0 2rem;
  position: relative;
  overflow-x: hidden;
}

.content {
  max-width: 1120px;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 1rem;
  }

  .content {
    justify-content: flex-start;
  }
}

@media (max-width: 750px) {
  .content {
    padding-top: 1rem;
  }
}
